<!doctype html>
<html>
<head>
<title>Scout Vs. Scout</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata|Righteous' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid">
<h1>
About this site
</h1>
  <div class="row">
    <div class="col-sm-4";>
    <span class="first-words">This site was created</span> by Rachel Shorey. She's a software developer at Sunlight Foundation, but she worked on this site in her spare time. Rachel was a Girl Scout for 6 years as a scout (Troop 1924) at 2 years as troop leader (Troop 60821).
    </div>
    <div class="col-sm-4">
      <span class="first-words">The data used here</span> came from <a href="http://sunlightfoundation.com" target="_blank">The Sunlight Foundation</a>, a nonprofit organization devoted to government accountability and transparency.
    </div>
    <div class="col-sm-4">
      <span class="first-words">Interested in helping</span> make this project better or more informative, or in learning more about how it was made? <a href="https://github.com/rshorey/scout-vs-scout" target="_blank">See the code on github </a> where you can submit an issue if you have an idea or notice a problem. Or contact Rachel <a href="mailto:rshorey@gmail.com">by email</a> or <a href="https://twitter.com/rachel_shorey"> on twitter</a> with ideas or to find out more!
    </div>

  </div><!--row-->
  <div class="row">
  &nbsp
  </div>
  <div class="row">
  <div class="col-sm-12">
  <span class="first-words">No one works alone</span> and I am especially lucky to have many wonderful collaborators, mentors and friends who helped me out with this project or gave me ideas, especially Shannon Turner and Olivia Cheng.
  </div><!--col-sm-12-->
  </div><!--row-->

</div> <!--container-fluid-->
</body>
</html>