<!doctype html>
<html>
<head>
<title>Scout Vs. Scout</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata|Righteous' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="jumbotron flag">
        <div class="container-fluid jumbotron-text">
        <h1>Who gets more recognition?</h1>

        </div><!--container-fluid jumbotron-text-->
</div><!--jumbotron-flag-->
<div class="row">
        <div class="container-fluid">
        <h4>
                    'Boy Scouts' appeared in the congressional record {{boy_mentions}} times in the past year.
        </h4>
        </div>
        </div>
            <div class="row">
        <div class="container-fluid">
        <h4>
                'Girl Scouts' appeared {{girl_mentions}} times in the same period.
        </h4>
        </div>
        </div>
    </div><!--container-fluid jumbotron-text-->
</div><!--jumbotron-flag-->

<div class="container-fluid" id="do-something">
    Want to see that change?<br \>
    Enter your zipcode to contact your congressperson. <br\>
    <form action="/getzip" method="post">
                <input type="text" name="zipcode"></input>
                <input type="submit" value="Go"></input>
            </form>
</div><!--container-fluid-->

{% include "footer.html" %}
</body>
</html>